*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenitore{
  width: 950px;
  height: 950px;
  background-color: red;
  margin: 10px;
}

.box{
  display: inline-block;
  position: relative;
}

.box .discount{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.box:nth-child(even) .discount{
  background-color: red;
}
