*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.contenitore{
  width: 950px;
  height: 950px;
  background-color: red;
  margin: 10px;
}


.box{
  display: inline-block;
  position: relative;
}

.box .discount{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.box:nth-child(even) .discount{
  background-color: red;
}

.box .heart{
  position: absolute;
  color: red;
  bottom: 10px;
  left: 50%;
  width: 100%;
  font-size: 30px;
  display: none;
}



.box:hover{
cursor: pointer}

.box:hover .heart{
  display: block;
}
